**/node_modules
**/.git
**/.DS_Store
**/dist
terraform
scripts
db
pgbouncer
docker-compose.yml
Dockerfile*
.geo-env
.infra-env
ansible
terraform
certs
results
*.json
!package.json
!tsconfig.json
*.txt
*.md
pgbouncer
db