apps/worker/.dev.vars.*
!apps/worker/.dev.vars.example
*.wrangler

terraform/terraform.tfvars
terraform/.terraform/
*.tfstate
*.tfstate.*

ansible/inventory.ini
ips.json

.DS_Store
node_modules/
dist/
terraform/.terraform.lock.hcl
apps/worker/worker-configuration.d.ts
pnpm-lock.yaml
certs/server.crt
certs/server.key
