[defaults]
inventory        = ansible/inventory.ini
remote_user      = root
private_key_file = ~/.ssh/name-here
host_key_checking = False

[ssh_connection]
ssh_args = -o BatchMode=yes -o ConnectTimeout=30 -o ServerAliveInterval=15 -o ServerAliveCountMax=5 -o ControlMaster=auto -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ControlPersist=300s
pipelining = True